.container {
	width: 13%;
	margin: 0.5% 1.7% 0.5% 1.7%;
	height: 250px;
	position: relative;
	perspective: 800px;
	background-color: red;
}

.board {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.card {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.card div {
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.card1 div {
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.card .front {
	background: url('../../pics/back.jpg');
	background-size: cover;
	background-position: center;
}

.card1 .front {
	background: url('../../pics/java.png');
	background-size: cover; 
	background-repeat: no-repeat;
	background-position: center;

}

.card .back {
	background: url('#');
	background-size: cover;
	background-position: center;
	transform: rotateY(180deg);
}

.timer {
	margin-left:10%;
	margin-bottom:2%;
	height: 50px;
	text-align: center;
	font-weight: 200;
	font-size: 38pt;
}


.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url('../../pics/playerback.png');
}

.background1 {
    position: fixed;
    top: 0;
    left: 49.5%;
    width: 50.5%;
    height: 100%;
    background-image: url('../../pics/player1back.jpeg');
}


