
body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.container {
	width: 13%;
	margin: 0.5% 1.7% 0.5% 1.7%;
	height: 250px;
	position: relative;
	perspective: 800px;
}

.name1  {
	float:left;
	margin-left:20%;
	color: orange;
	font-family:cursive;
	font-size:20pt;
}

.name2 {
	float:right;
	margin-right:20%;
	color:purple;
	font-family: cursive;
	font-size:20pt;

}

.p1turn {
	float:left;
	margin-left:20%;
	color: orange;
	font-family:cursive;
	font-size:20pt;

}

.p2turn {
	float:right;
	margin-right:20%;
	color:purple;
	font-family: cursive;
	font-size:20pt;
	
}

.table {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.card {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.card1 {
	width: 100%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: transform 1s;
}

.card div {
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.card1 div {
	margin: 0;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.card .front {
	background: url('http://127.0.0.1:5000/static/pics/back.jpg');
	background-size: cover;
	background-position: center;
}

.card1 .front {
	background: url('http://127.0.0.1:5000/static/pics/back1.jpg');
	background-size: cover; 
	background-position: center;

}

.card .back {
	background: url('#');
	background-size: cover;
	background-position: center;
	transform: rotateY(180deg);
}

.card1 .back {
	background: url('#');
	background-size: cover;
	background-position: center;
	transform: rotateY(180deg);
}

.card.flipped {
  transform: rotateY(180deg);
}

.card1.flipped {
  transform: rotateY(180deg);
}

<<<<<<< HEAD
=======

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: url('http://127.0.0.1:5000/static/pics/playerback.png');
    z-index: -1;
}

.background1 {
    position: fixed;
    top: 0;
    left: 49.5%;
    width: 50.5%;
    height: 100%;
    background-image: url('http://127.0.0.1:5000/static/pics/player1back.jpeg');
    z-index: -1;
}

.game-over {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('http://127.0.0.1:5000/static/UA5jssX.png');
  position: fixed;
  top: 20%;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

h1 {
	align-self: center;
  	color: orange;
  	font-size: 72pt;
  	font-weight: 400;
}

button {
  width: 350px;
  height: 100px;
  font-size: 36pt;
  font-weight: 600;
  outline: none;
}

button:hover {
  background-color: #808080;
}




