<html>
  <head>
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="static/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="static/add.css">
  </head>

  <body style="padding: 50px 75px 50px 75px;">
    {% block body%}
    {% endblock %}
    <script src="static/vendor/jquery.js"></script>
    <script src="static/vendor/foundation.js"></script>
    <script src="static/vendor/foundation.min.js"></script>
    <script src="static/vendor/what-input.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>