{% extends "base.html" %}

{% block title %}
  <style>

    #board{
    width: 1050px;
    height: 600px;
    border-style: solid;
    border-color: black;
    z-index: -1;
    }

    .boardTiles{
    width:150px;
    height:100px;
    position: relative;
    }

    #space1{
    left:0px;
    bottom: 0px;
    background: blue;
    }

    #space2{
    left : 150px;
    bottom: 100px;
    background: yellow;
    }

    #space3{
    left : 300px;
    bottom: 200px;
    background: orange;
    }

    #space4{
    left : 450px;
    bottom: 300px;
    background: purple;
    }

    #space5{
    left : 600px;
    bottom: 400px;
    background: orange;
    }

    #space6{
    left : 750px;
    bottom: 500px;
    background: blue;
    }

    #space7{
    left : 900px;
    bottom: 600px;
    background: purple;
    }

    #space8{
    left : 900px;
    bottom: 600px;
    background: orange;
    }

    #space9{
    left : 900px;
    bottom: 600px;
    background: blue;
    }

    #space10{
    left : 900px;
    bottom: 600px;
    background: purple;
    }

    #space11{
    left : 900px;
    bottom: 600px;
    background: yellow;
    }

    #space12{
    left : 900px;
    bottom: 600px;
    background: blue;
    }

    #space13{
    left : 750px;
    bottom: 700px;
    background: orange;
    }

    #space14{
    left : 600px;
    bottom: 800px;
    background: blue;
    }

    #space15{
    left : 450px;
    bottom: 900px;
    background: purple;
    }

    #space16{
    left : 300px;
    bottom: 1000px;
    background: yellow;
    }

    #space17{
    left : 150px;
    bottom: 1100px;
    background: blue;
    }

    #space18{
    left = 0px;
    bottom: 1200px;
    background: orange;
    }

    #space19{
    bottom: 1400px;
    background: yellow;
    }

    #space20{
    bottom: 1600px;
    background: purple;
    }

    #space21{
    bottom: 1800px;
    background: yellow;
    }

    #space22{
    bottom: 2000px;
    background: orange;
    }

    #player1 {
    width: 50px;
    height: 50px;
    background-color: red;
    position: absolute;
    z-index: 5;
    }

    #player2 {
    width: 50px;
    height: 50px;
    background-color: lawngreen;
    position: absolute;
    z-index: 5;
    }

    #info{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
    border: 3px solid black;
    background-color: white;
    }

    #marioandluigicoolness {
      position: absolute;
      z-index: 1;
      right: 450px;
      top: 375px;
    }
  </style>

{% endblock %}
{% block body %}

    <h2> Let's go around the board! </h2>

<!-- start ugly progress bar stuff -->
{% if turns == 0 %}
  <div class="primary progress" role="progressbar" tabindex="0" aria-valuenow="0" aria-valuemin="0" aria-valuetext="0 percent" aria-valuemax="100" style="width: 80%; margin: auto; margin-bottom: 50px;;">
    <div class="progress-meter" style="width: 0%">
      <p class="progress-meter-text"></p>
    </div>
  </div>
{% endif %}
{% if turns == 1 %}
  <div class="primary progress" role="progressbar" tabindex="0" aria-valuenow="10" aria-valuemin="0" aria-valuetext="10 percent" aria-valuemax="100" style="width: 80%; margin: auto; margin-bottom: 50px;">
    <div class="progress-meter" style="width: 10%">
      <p class="progress-meter-text">10%</p>
    </div>
  </div>
{% endif %}
{% if turns == 2 %}
  <div class="primary progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="20 percent" aria-valuemax="100" style="width: 80%; margin: auto; margin-bottom: 50px;">
    <div class="progress-meter" style="width: 20%">
      <p class="progress-meter-text">20%</p>
    </div>
  </div>
{% endif %}
{% if turns == 3 %}
  <div class="primary progress" role="progressbar" tabindex="0" aria-valuenow="30" aria-valuemin="0" aria-valuetext="30 percent" aria-valuemax="100" style="width: 80%; margin: auto; margin-bottom: 50px;">
    <div class="progress-meter" style="width: 30%">
      <p class="progress-meter-text">30%</p>
    </div>
  </div>
{% endif %}
{% if turns == 4 %}
  <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="40" aria-valuemin="0" aria-valuetext="40 percent" aria-valuemax="100" style="width: 80%; margin: auto; margin-bottom: 50px;">
    <div class="progress-meter" style="width: 40%">
      <p class="progress-meter-text">40%</p>
    </div>
  </div>
{% endif %}
{% if turns == 5 %}
  <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100" style="width: 80%; margin: auto; margin-bottom: 50px;">
    <div class="progress-meter" style="width: 50%">
      <p class="progress-meter-text">50%</p>
    </div>
  </div>
{% endif %}
{% if turns == 6 %}
  <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="60" aria-valuemin="0" aria-valuetext="60 percent" aria-valuemax="100" style="width: 80%; margin: auto; margin-bottom: 50px;">
    <div class="progress-meter" style="width: 60%">
      <p class="progress-meter-text">60%</p>
    </div>
  </div>
{% endif %}
{% if turns == 7 %}
  <div class="warning progress" style="width: 80%; margin: auto; margin-bottom: 50px;">
    <div class="progress-meter" style="width: 70%">
      <p class="progress-meter-text">70%</p>
    </div>
  </div>
{% endif %}
{% if turns == 8 %}
  <div class="warning progress" style="width: 80%; text-align: center;">
    <div class="progress-meter" style="width: 80%">
      <p class="progress-meter-text">80%</p>
    </div>
  </div>
{% endif %}
{% if turns == 9 %}
  <div class="warning progress" style="width: 80%; text-align: center;">
    <div class="progress-meter" style="width: 90%">
      <p class="progress-meter-text">90%</p>
    </div>
  </div>
{% endif %}
<!-- end ugly progress bar stuff -->

<div style="text-align: center;">
<button class="button" type="dropdown" data-toggle="rules-dropdown" style="background-color: #00A676; border-radius: 8px;">Rules</button>
<div class="dropdown-pane" id="rules-dropdown" data-dropdown>
  Both players move around the board to get coins.<br>
  Scoring guide: blue = +3 coins, orange = -3 coins, purple = random amount of coins from -5 to 5, yellow = 0 coins
</div>
<button class="button" type="dropdown" data-toggle="controls-dropdown" style="background-color: #EB5E55; border-radius: 8px;">Controls</button>
<div class="dropdown-pane" id="controls-dropdown" data-dropdown>
  Player 1 presses the s key to roll the die and move. Player 2 presses the k key to roll the die and move.
</div>
</div>

<div id="marioandluigicoolness">
    <div class="grid-x grid-margin-x">
      <div class="cell small-6">
        <h4>Player 1 (Mario):</h4><br><img src="../static/marioprofile.png"><br><br>
        <h4>{{coinsm}} <img src="../static/coin.png"></h4>
      </div>
      <div class="cell small-6">
        <h4>Player 2 (Luigi):</h4><br><img src="../static/luigiprofile.png"><br><br>
        <h4>{{coinsl}} <img src="../static/coin.png"></h4>
      </div>
    </div>
</div>

    <div id="board">
      {% for i in range(1, 23) %}
      <div id="space{{i}}" class="boardTiles">
        {% if pos_mario == "pos" + i|string() %}
        <div id='player1'></div>
        {% endif %}
        {% if pos_luigi == "pos" + i|string() %}
        <div id='player2'></div>
        {% endif %}
      </div>
      {% endfor %}
      <div id="info">
      </div>
    </div>
    <div id="p1">
      {{posm}}
    </div>
    <div id="p2">
      {{posl}}
    </div>
    <script type="text/javascript" src="../static/js/board.js">
    </script>

{% endblock %}
