{% extends "game.html" %}

{% block title %}
	<title>dinosaur minigame</title>
{% endblock %}

{% block header %}Play the dinosaur minigame!{% endblock %}

{% block purpose %}
	<script type="text/javascript" src="{{url_for('static',filename='js/dino.js')}}">
	</script>

	<script type="text/javascript" src="../static/js/dino.js">
	</script>
	<div id = "container1" style = "background-color:black;width:700px;height:300px;position:relative;">
		<div id = "player1" style = "background-color:red;width:50px;height:50px;position:absolute;top:250px;left:50px">	
		</div>
	</div>
	<br><br>
	<div id = "container2" style = "background-color:black;width:700px;height:300px;position:relative;">
		<div id = "player2" style = "background-color:green;width:50px;height:50px;position:absolute;top:250px;left:50px">	
		</div>
	</div>
	<br>
	<div id="reportResults">
	</div>
{% endblock %}