<!DOCTYPE html>

<html>
  <head>
    <title>Memory Matching Game</title>
    <link rel='stylesheet' href='static/css/memm.css'/>
  </head>
  <body>

  <script src='static/js/memm.js'></script>

	<section class='timer'>Timer: 00</section>

	<section class='board'>

	<div class = 'box'>
		<div class = 'card1'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'box'>
		<div class = 'card1'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'box'>
		<div class = 'card'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'box'>
		<div class = 'card'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'box'>
		<div class = 'card1'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'box'>
		<div class = 'card1'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'box'>
		<div class = 'card'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'box'>
		<div class = 'card'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	</section>


	</body>
</html>