<!DOCTYPE html>

<!--
Following steps:

2.3. add card fronts to two players
2.5. add two divided backgrounds to distinguish players
3. add content behind each card (aka setting card back pics)
4. flip function, with animation (controled by mouse first)
***************************************************


+++++Do everything for Player[] for now and forget about player2, preferablly you can just add a class but if not just c&p everything for 2+++++


5. initializae keyboard action
	* hover a card, highlight it 
	* space / enter to flip 

6. ......

* timer function 
* score (competing)
* winning / losing page 

-->


<html>
  <head>
    <title>Memory Matching Game</title>
    <link rel='stylesheet' type = 'text/css' href='../static/css/memm.css'/>
    
  </head>
  <body>

	<section class = 'game-over'>
	  	<h1></h1>
	  	<button> Restart </button>
	</section>


	<section class = 'scoreDisplay1'>
		<h2></h2><br><br>
	</section>
	

    <section class='otherstuff'>
		<div class='background'></div>
		<div class='background1'></div>
	</section>

	


	<div class='responsive-border-back'></div>
    <section class='score'></section>
    <div class='responsive-border-center'></div>

	<section class='table'>

	<div class = 'container'>
		<div class = 'card1'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'container'>
		<div class = 'card1'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'container'>
		<div class = 'card1'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'container'>
		<div class = 'card'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'container'>
		<div class = 'card'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'container'>
		<div class = 'card'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'container'>
		<div class = 'card1'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'container'>
		<div class = 'card1'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'container'>
		<div class = 'card1'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'container'>
		<div class = 'card'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'container'>
		<div class = 'card'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>

	<div class = 'container'>
		<div class = 'card'>
			<div class = 'front'></div>
			<div class = 'back'></div>
		</div>
	</div>
	</section>

	

	

    

 	<script src='../static/js/memm.js'></script>
	</body>
</html>