<body>
	<script type="text/javascript" src="{{url_for('static',filename='js/slots.js')}}">
	</script>

	<script type="text/javascript" src="static/js/slots.js">
	</script>



	<div id = "container" style = "background-color:black;width:300px;height:400px;position:relative;">
		<div id = "leftWheel0" style = "background-color:red;width:100px;height:100px;position:absolute;">
		</div>
		<div id = "leftWheel1" style = "background-color:blue;width:100px;height:100px;position:absolute;">
		</div>
		<div id = "leftWheel2" style = "background-color:green;width:100px;height:100px;position:absolute;">
		</div>
		<div id = "leftWheel3" style = "background-color:yellow;width:100px;height:100px;position:absolute;">
		</div>
		<div id = "middleWheel0" style = "background-color:red;width:100px;height:100px;position:absolute;right:100px;">
		</div>
		<div id = "middleWheel1" style = "background-color:blue;width:100px;height:100px;position:absolute;right:100px;"</div>
		</div>
		<div id = "middleWheel2" style = "background-color:green;width:100px;height:100px;position:absolute;right:100px;">
		</div>
		<div id = "middleWheel3" style = "background-color:yellow;width:100px;height:100px;position:absolute;right:100px;"
		</div>
	</div>
</body>
