{% extends "game.html" %}

{% block title %}
	<title>slot machine minigame</title>
{% endblock %}

{% block header %}Play the slot machine minigame!{% endblock %}

{% block purpose %}
	<script type="text/javascript" src="{{url_for('static',filename='js/slots.js')}}">
	</script>

	<script type="text/javascript" src="static/js/slots.js">
	</script>
	
	<div class="grid-x grid-margin-x" style="text-align: center;">
      <div class="cell small-6">
				<div id = "container" style = "background-color:black;width:350px;height:400px;position:relative;">
				<div id = "leftWheel0" style = "background-color:red;width:100px;height:100px;position:absolute;">
				</div>
				<div id = "leftWheel1" style = "background-color:blue;width:100px;height:100px;position:absolute;">
				</div>
				<div id = "leftWheel2" style = "background-color:green;width:100px;height:100px;position:absolute;">
				</div>
				<div id = "leftWheel3" style = "background-color:yellow;width:100px;height:100px;position:absolute;">
				</div>
				<div id = "middleWheel0" style = "background-color:red;width:100px;height:100px;position:absolute;right:150px;">
				</div>
				<div id = "middleWheel1" style = "background-color:blue;width:100px;height:100px;position:absolute;right:150px;">
				</div>
				<div id = "middleWheel2" style = "background-color:green;width:100px;height:100px;position:absolute;right:150px;">
				</div>
				<div id = "middleWheel3" style = "background-color:yellow;width:100px;height:100px;position:absolute;right:150px;">
				</div>
				<div id = "rightWheel0" style = "background-color:red;width:100px;height:100px;position:absolute;right:50px;">
				</div>
				<div id = "rightWheel1" style = "background-color:blue;width:100px;height:100px;position:absolute;right:50px;">
				</div>
				<div id = "rightWheel2" style = "background-color:green;width:100px;height:100px;position:absolute;right:50px;">
				</div>
				<div id = "rightWheel3" style = "background-color:yellow;width:100px;height:100px;position:absolute;right:50px;">
				</div>
				<div id = "marker" style = "background-color:grey;width:50px;height:400px;position:absolute;right:0px;"></div>
				<div id = "marker" style = "background-color:cyan;width:50px;height:10px;position:absolute;right:0px;top:190px;"></div>
				</div>
				<h3 id = "p1Results"></h3>
				<h3 id = "p1Score"></h3>
			</div>
			<div class="cell small-6">
				<div id = "container" style = "background-color:black;width:350px;height:400px;position:relative;">
				<div id = "2leftWheel0" style = "background-color:red;width:100px;height:100px;position:absolute;">
				</div>
				<div id = "2leftWheel1" style = "background-color:blue;width:100px;height:100px;position:absolute;">
				</div>
				<div id = "2leftWheel2" style = "background-color:green;width:100px;height:100px;position:absolute;">
				</div>
				<div id = "2leftWheel3" style = "background-color:yellow;width:100px;height:100px;position:absolute;">
				</div>
				<div id = "2middleWheel0" style = "background-color:red;width:100px;height:100px;position:absolute;right:150px;">
				</div>
				<div id = "2middleWheel1" style = "background-color:blue;width:100px;height:100px;position:absolute;right:150px;">
				</div>
				<div id = "2middleWheel2" style = "background-color:green;width:100px;height:100px;position:absolute;right:150px;">
				</div>
				<div id = "2middleWheel3" style = "background-color:yellow;width:100px;height:100px;position:absolute;right:150px;">
				</div>
				<div id = "2rightWheel0" style = "background-color:red;width:100px;height:100px;position:absolute;right:50px;">
				</div>
				<div id = "2rightWheel1" style = "background-color:blue;width:100px;height:100px;position:absolute;right:50px;">
				</div>
				<div id = "2rightWheel2" style = "background-color:green;width:100px;height:100px;position:absolute;right:50px;">
				</div>
				<div id = "2rightWheel3" style = "background-color:yellow;width:100px;height:100px;position:absolute;right:50px;">
				</div>
				<div id = "marker" style = "background-color:grey;width:50px;height:400px;position:absolute;right:0px;"></div>
				<div id = "marker" style = "background-color:cyan;width:50px;height:10px;position:absolute;right:0px;top:190px;"></div>
				</div>
				<h3 id = "p2Results"></h3>
				<h3 id = "p2Score"></h3>
				</div>
			<div id = "reportResults" style="text-align: center;"></div>
		</div>
{% endblock %}

{% block rules %}Both players will be operating the slot machines! The player with the most points wins.<br>Scoring guide: red=1, blue=1.5, green=2.0, yellow=2.5, black=3<br>Two of the same color gets a *5 multiplier, three of the same color gets a *10 multiplier{% endblock %}

{% block controls %}Press the y key to start both slot machines. Player 1 operates the left slot machine and stops the left, middle, and right columns with the a, s, and d keys, respectively. Player 2 operates the right slot machine and stops the left, middle, and right columns with the j, k, and l keys, respectively. After both players are done stopping their machines, press the b button to get your scores and go back to the board.{% endblock %}